<section class="portfolio-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mb-30">
                <div class="call-to-action">
                    <h3>Нужны точные весы? Звоните (+380) 50 300 8700 или (+380) 98 900 8700</h3>
                    <p></p>
                </div>
            </div>
<!--             <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="#" class="btn">Заказать</a>
                </div>
            </div> -->
        </div>
    </div>
</section>