<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Нужны хорошие весы? <br>Мы их <span>производим!</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Серийное производство в Украине<br>
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Реализация и обслуживание<br>
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Пределы взвешивания от 200кг до 100т
                            </p>
                            <a href="mailto:nppvek@gmail.com" class="btn" data-animation="fadeInUp" data-delay=".6s">Отправить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>