---
layout: page
title: About Us
---
<!-- about-info -->
<section class="about-info">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="about-info-text">
                    <h2>Научно-производственное предприятие "ВЕК"</h2>
                    <h3>Точность, подтвержденная профессионалами!</h3>
                    <p>  
                    Мы рады предложить Вам крановые весы ВЕК собственной разработки и производства. Ассортимент нашей продукции включает весы с пределами взвешивания от 200кг до 100т с множеством вариантов исполнения под любые задачи.<br><br>
                    За 20 лет серийного выпуска мы приобрели богатый опыт, помогающий постоянно совершенствовать нашу продукцию, а также гарантировать своевременный ремонт нашей продукции - в том числе моделей, снятых с производства </p>


<!--                     <div class="info-img">
                        <img src="{{site.baseurl}}/assets/img/about/our-team.jpg" class="img-fluid" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% include call_to_action.html %}
<!-- about-area -->
<!-- <section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. <br> <br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baeurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include team_members.html %} -->
