<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Потрібні якісні ваги? <br>Ми їх <span>виробляємо!</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Серійне виробництво в Україні<br>
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Реалізація та обслуговування<br>
                                <i class="fa fa-1x fa-dot-circle"></i>&nbsp;&nbsp;Межі взважування від {{site.min_weight}} до {{site.max_weight}}
                            </p>
                            <h3 style="color:white; margin-top: 10px; margin-left: 15px"><a href="tel:+38{{site.phone_uvc_1 | remove: " "}}"><i class="fas fa-phone"></i> (+38) {{site.phone_uvc_1}}</a></h3>
                            <br>
                            <div class="top-btn" data-animation="fadeInUp" data-delay=".6s">
                                <a href="mailto:{{site.email}}">Віправити запит електронною поштою</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>