<section class="portfolio-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mb-30">
                <div class="call-to-action">
                    <h3>Нужны точные весы? Звоните <a href="tel:+38{{site.phone_uvc_1 | remove: " "}}">(+38) {{site.phone_uvc_1}}</a> или <a href="tel:+38{{site.phone_uvc_2 | remove: " "}}">(+38) {{site.phone_uvc_2}}</a></h3>
                    <p></p>
                </div>
            </div>
<!--             <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="#" class="btn">Заказать</a>
                </div>
            </div> -->
        </div>
    </div>
</section>